In [ ]:
!python --version
!pip list -v

In [5]:
import sqlite3

In [6]:
import pandas as pd

In [8]:
import matplotlib.pyplot as plt

In [9]:
import ipywidgets as widgets

In [10]:
conn = sqlite3.connect('beegeez_sales_data_sqlite3.db')

In [11]:
cursor = conn.cursor()

In [12]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ")
tables = cursor.fetchall()

In [13]:
for table in tables:
    table_name = table[0]
    print("Table:", table_name)
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()
    for column in columns:
        print(column)
    print()

Table: sales
(0, 'Region', 'TEXT', 0, None, 0)
(1, 'Country', 'TEXT', 0, None, 0)
(2, 'Item_Type', 'TEXT', 0, None, 0)
(3, 'Sales_Channel', 'TEXT', 0, None, 0)
(4, 'Order_Priority', 'TEXT', 0, None, 0)
(5, 'Order_Date', 'DATE', 0, None, 0)
(6, 'Order_ID', 'INTEGER', 0, None, 0)
(7, 'Ship_Date', 'DATE', 0, None, 0)
(8, 'Units_Sold', 'INTEGER', 0, None, 0)
(9, 'Unit_Price', 'REAL', 0, None, 0)
(10, 'Unit_Cost', 'REAL', 0, None, 0)
(11, 'Total_Revenue', 'REAL', 0, None, 0)
(12, 'Total_Cost', 'REAL', 0, None, 0)
(13, 'Total_Profit', 'REAL', 0, None, 0)